{{define "layout_css"}}
<!-- 样式引入  begin -->
<link rel="stylesheet" type="text/css"
      href="/static/plugins/datatables/dataTables.bootstrap.css"/>
<!-- 样式引入  end -->
{{end}}

{{define "layout_js"}}
<!-- js引入 begin -->
<script type="text/javascript" src="/static/plugins/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/plugins/datatables/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="/static/js/date_formart.js"></script>
<!-- js引入 end -->
<script type="text/javascript">

    function init2() {
        $('#example2').DataTable({
            "pageLength": 15, // default records per page
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "stateSave": false,
            "language": { // language settings
                // data tables spesific
                "info": "共 _TOTAL_ 条记录",
                "infoEmpty": "共 0 条记录",
                "sEmptyTable": "没有可用的数据",
                "paginate": {
                    "previous": "上一页",
                    "next": "下一页",
                    "last": "尾页",
                    "first": "首页"
                }
            },
            "ajax": { // define ajax settings
                "url": '{{urlfor "AdminController.List"}}',
                "type": "POST", // request type
                "timeout": 20000,
                "dataSrc": function (res) { // Manipulate the data returned from the server
                    if (!res.List || !res) {
                        //showToast('载入数据出错', '', 'error');
                        //Metronic.unblockUI(tableContainer);
                        return [];
                    }

                    //Metronic.unblockUI(tableContainer);

                    res.recordsTotal = res.TotalCount;
                    res.recordsFiltered = res.TotalCount;
                    res.length = res.PageSize;

                    return res.List;
                },
            },
            "columns": [
                {"data": "Name"},
                {"data": "LoginName"},
                {"data": "Role.Name"},
                {"data": "Enable"},
                {
                    "data": function (data) {
                        return '';
                    }
                }
            ]
        });
    }

    $(function () {
        //initTable();
        init2();
    });
</script>
{{end}}

{{define "layout_content"}}

<!-- 页面主体 begin -->
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>姓名</th>
                        <th>登陆账号</th>
                        <th>角色</th>
                        <td>启用</td>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- 页面主体 end -->
<div class="modal fade ajax-modal" id="ajax" role="basic" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

{{end}}

{{template "/layout/layout.html" .}}